<!--导航栏-->
<header id="header" class="header">
    <div class="container-inner">
        <div class="yusi-logo">
            <a href="/">
                <h1>
                    <span class="yusi-mono">静觅</span>
                    <span class="yusi-bloger">崔庆才的个人博客</span>
                </h1>
            </a>
        </div>
    </div>
    <div id="nav-header" class="navbar">
        <ul class="nav">
            <li id="menu-item-44"
                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-44">
                <a href="/">首页</a></li>
            <li id="menu-item-14"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-14">
                <a href="/category/life">生活笔记</a>
                <ul class="sub-menu">
                    <li id="menu-item-19"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-19"><a
                            href="/category/life/notes">个人随笔</a></li>
                    <li id="menu-item-18"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18"><a
                            href="/category/life/daily">个人日记</a></li>
                    <li id="menu-item-15"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-15"><a
                            href="/category/life/presatation">个人展示</a></li>
                </ul>
            </li>
            <li id="menu-item-7"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-7">
                <a href="/category/technique">技术杂谈</a>
                <ul class="sub-menu">
                    <li id="menu-item-9"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9"><a
                            href="/category/technique/cc">C/C++</a></li>
                    <li id="menu-item-11"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11"><a
                            href="/category/technique/java">Java</a></li>
                    <li id="menu-item-17"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-17"><a
                            href="/category/technique/php">PHP</a></li>
                    <li id="menu-item-153"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-153"><a
                            href="/category/technique/html">HTML</a></li>
                    <li id="menu-item-960"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-960"><a
                            href="/category/technique/python">Python</a></li>
                    <li id="menu-item-1277"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1277"><a
                            href="/category/technique/javascript">JS</a></li>
                    <li id="menu-item-16"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-16"><a
                            href="/category/technique/other">Other</a></li>
                </ul>
            </li>
            <li id="menu-item-418" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-418"><a
                    href="/category/resources">福利专区</a></li>
            <li id="menu-item-851" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-851"><a
                    href="/category/about/">关于自己</a></li>
            <li id="menu-item-251" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-251"><a
                    href="/category/message">给我留言</a></li>
            <li id="menu-item-1131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1131"><a
                    href="/category/donate">赞助作者</a></li>
            <li id="menu-item-4571" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4571"><a
                    href="/category/exchange">技术交流</a></li>
            <li id="menu-item-6142" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6142"><a
                    href="/category/question">提问交流</a></li>
            <li id="menu-item-6397" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6397"><a
                    href="/category/project">项目合作</a></li>
            <li style="float:right;">
                <div class="toggle-search"><i class="fa fa-search"></i></div>
                <div class="search-expand" style="display: none;">
                    <div class="search-expand-inner">
                        <form method="get" class="searchform themeform"
                              onsubmit="location.href='https://cuiqingcai.com/?s=' + encodeURIComponent(this.s.value).replace(/%20/g, '+'); return false;"
                              action="/">
                            <div><input type="ext" class="search" name="s"
                                        onblur="if(this.value=='')this.value='search...';"
                                        onfocus="if(this.value=='search...')this.value='';" value="search..."></div>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</header>