{% extends 'base/base_right.html' %}
{% block head %}
    <meta charset="UTF-8">  <!--必须写，要不然会出现编码问题-->
    <meta name="description" content="崔庆才的个人网站，记录生活的瞬间，分享学习的心得，感悟生活，留住感动，静静寻觅生活的美好"/>
    <meta name="keywords" content="崔庆才,静觅,网络,IT,技术,博客,PHP"/>
{% endblock head %}
{% block content %}
    <div class="content-wrap">
        <div class="content">
            <div id="wowslider-container1">
                <div class="ws_images">
                    <ul>
                        <li><a target="_blank" href="https://cuiqingcai.com/5052.html" title="Python3网络爬虫开发实战教程"><img
                                src="../../static/images/index1.jpg" title="Python3网络爬虫开发实战教程"
                                alt="Python3网络爬虫开发实战教程"/></a></li>
                        <li><a target="_blank" href="https://cuiqingcai.com/4320.html" title="Python3爬虫视频学习教程"><img
                                src="../../static/images/index2.jpg" title="Python3爬虫视频学习教程"
                                alt="Python3爬虫视频学习教程"/></a></li>
                        <li><a target="_blank" href="https://cuiqingcai.com/455.html"
                               title="干货！IT小伙伴们实用的网站及工具大集合！持续更新！"><img
                                src="../../static/images/index3.jpg"
                                title="干货！IT小伙伴们实用的网站及工具大集合！持续更新！" alt="干货！IT小伙伴们实用的网站及工具大集合！持续更新！"/></a></li>
                        <li><a target="_blank" href="https://cuiqingcai.com/1479.html" title="PHP高级特性学习总结"><img
                                src="../../static/images/index4.jpg" title="PHP高级特性学习总结"
                                alt="PHP高级特性学习总结"/></a></li>
                        <li><a target="_blank" href="https://cuiqingcai.com/1052.html" title="Python2爬虫学习系列教程"><img
                                src="../../static/images/index5.jpg" title="Python2爬虫学习系列教程"
                                alt="Python2爬虫学习系列教程"/></a></li>
                    </ul>
                </div>

                <div class="ws_thumbs">
                    <div>
                        <a target="_blank" href="#" title="Python3网络爬虫开发实战教程"><img
                                src="../../static/images/index1.jpg"/></a><a
                            target="_blank" href="#" title="Python3爬虫视频学习教程"><img
                            src="../../static/images/index2.jpg"/></a><a
                            target="_blank" href="#" title="干货！IT小伙伴们实用的网站及工具大集合！持续更新！"><img
                            src="../../static/images/index3.jpg"/></a><a target="_blank" href="#"
                                                                         title="PHP高级特性学习总结"><img
                            src="../../static/images/index4.jpg"/></a><a target="_blank" href="#"
                                                                         title="Python2爬虫学习系列教程"><img
                            src="../../static/images/index5.jpg"/></a></div>
                </div>
                <div class="ws_shadow"></div>
            </div>
            <script type="text/javascript" src="../../static/js/slider.js"></script>
            <div>
                <div class="left-ad"
                     style="clear: both;background-color: #fff; width: 30%;float: left;margin-right:2%;"></div>
                <div class="hot-posts">
                    <h2 class="title">热门排行</h2>
                    <ul>
                        <li><p><span class="muted"><a href="javascript:;" data-action="ding" data-id="1052" id="Addlike"
                                                      class="action"><i class="fa fa-heart-o"></i><span
                                class="count">30735</span> 喜欢</a></span>
                        </p><span class="label label-1">1</span><a href="https://cuiqingcai.com/1052.html"
                                                                   title="Python2爬虫学习系列教程">Python2爬虫学习系列教程</a></li>
                        <li><p><span class="muted"><a href="javascript:;" data-action="ding" data-id="4320" id="Addlike"
                                                      class="action"><i class="fa fa-heart-o"></i><span
                                class="count">2927</span> 喜欢</a></span>
                        </p><span class="label label-2">2</span><a href="https://cuiqingcai.com/4320.html"
                                                                   title="Python3爬虫视频学习教程">Python3爬虫视频学习教程</a></li>
                        <li><p><span class="muted"><a href="javascript:;" data-action="ding" data-id="927" id="Addlike"
                                                      class="action"><i class="fa fa-heart-o"></i><span
                                class="count">2315</span> 喜欢</a></span>
                        </p><span class="label label-3">3</span><a href="https://cuiqingcai.com/927.html"
                                                                   title="Python爬虫入门一之综述">Python爬虫入门一之综述</a></li>
                        <li><p><span class="muted"><a href="javascript:;" data-action="ding" data-id="947" id="Addlike"
                                                      class="action"><i class="fa fa-heart-o"></i><span
                                class="count">2283</span> 喜欢</a></span>
                        </p><span class="label label-4">4</span><a href="https://cuiqingcai.com/947.html"
                                                                   title="Python爬虫入门三之Urllib库的基本使用">Python爬虫入门三之Urllib库的基本使用</a>
                        </li>
                        <li><p><span class="muted"><a href="javascript:;" data-action="ding" data-id="1319" id="Addlike"
                                                      class="action"><i class="fa fa-heart-o"></i><span
                                class="count">2280</span> 喜欢</a></span>
                        </p><span class="label label-5">5</span><a href="https://cuiqingcai.com/1319.html"
                                                                   title="Python爬虫利器二之Beautiful Soup的用法">Python爬虫利器二之Beautiful
                            Soup的用法</a></li>
                    </ul>
                </div>
            </div>
            <article class="excerpt">
                <header><a class="label label-important"
                           href="https://cuiqingcai.com/category/technique/python">Python<i class="label-arrow"></i></a>
                    <h2><a target="_blank" href="https://cuiqingcai.com/6408.html" title="第一次见到这种反爬虫。咋办？盘它。">第一次见到这种反爬虫。咋办？盘它。 </a>
                    </h2>
                </header>
                <div class="focus"><a target="_blank" href="https://cuiqingcai.com/6408.html"><img class="thumb"
                                                                                                   src="../../static/images/timthumb.php"
                                                                                                   alt="第一次见到这种反爬虫。咋办？盘它。"/></a>
                </div>
                <span class="note"> 大家好，我是四毛，欢迎大家关注我的公众号。

    今天在工作中，碰到了第一次碰见的反爬虫机制，感觉很有意思，在这里记录一下，希望对大家有帮助。
    ? ? ? ??今天用到的库：
    requests [请求]
    lzstring [解压数据]
    pyexecjs [执行JS]
    &nbsp;
    简...</span>
                <p class="auth-span">
                    <span class="muted"><i class="fa fa-user"></i> <a
                            href="https://cuiqingcai.com/author/simon">四毛</a></span>
                    <span class="muted"><i class="fa fa-clock-o"></i> 3周前 (01-26)</span> <span class="muted"><i
                        class="fa fa-eye"></i> 3307浏览</span> <span class="muted"><i class="fa fa-comments-o"></i> <a
                        target="_blank" href="https://cuiqingcai.com/6408.html#comments">152评论</a></span><span
                        class="muted">
    <a href="javascript:;" data-action="ding" data-id="6408" id="Addlike" class="action"><i
            class="fa fa-heart-o"></i><span
            class="count">19</span>喜欢</a></span></p>
            </article>
            <article class="excerpt">
                <header><a class="label label-important"
                           href="https://cuiqingcai.com/category/technique/python">Python<i class="label-arrow"></i></a>
                    <h2><a target="_blank" href="https://cuiqingcai.com/6341.html" title="大众点评还不会爬？跟着我，我教你。">大众点评还不会爬？跟着我，我教你。 </a>
                    </h2>
                </header>
                <div class="focus"><a target="_blank" href="https://cuiqingcai.com/6341.html"><img class="thumb"
                                                                                                   src="../../static/images/timthumb.php"
                                                                                                   alt="大众点评还不会爬？跟着我，我教你。"/></a>
                </div>
                <span class="note"> 大家好，我是四毛，好久没有写东西了，欢迎大家关注我的公众号。

    今天的文章是关于如何使用requests来爬取大众点评的数据。
    看完本文，你可以：
    1、了解大众点评的CSS反爬虫机制
    2、破解反爬虫机制
    3、使用requests即可正确获取到评论数，平均价格，服务，味道，环境数据...</span>
                <p class="auth-span">
                    <span class="muted"><i class="fa fa-user"></i> <a
                            href="https://cuiqingcai.com/author/simon">四毛</a></span>
                    <span class="muted"><i class="fa fa-clock-o"></i> 4周前 (01-24)</span> <span class="muted"><i
                        class="fa fa-eye"></i> 1931浏览</span> <span class="muted"><i class="fa fa-comments-o"></i> <a
                        target="_blank" href="https://cuiqingcai.com/6341.html#comments">16评论</a></span><span
                        class="muted">
    <a href="javascript:;" data-action="ding" data-id="6341" id="Addlike" class="action"><i
            class="fa fa-heart-o"></i><span
            class="count">6</span>喜欢</a></span></p>
            </article>
            <article class="excerpt">
                <header><a class="label label-important"
                           href="https://cuiqingcai.com/category/technique/python">Python<i class="label-arrow"></i></a>
                    <h2><a target="_blank" href="https://cuiqingcai.com/6404.html" title="mitmdump + 电脑版微信爬取微信公众号文章">mitmdump
                        + 电脑版微信爬取微信公众号文章 </a></h2>
                </header>
                <div class="focus"><a target="_blank" href="https://cuiqingcai.com/6404.html"><img class="thumb"
                                                                                                   src="../../static/images/timthumb.php"
                                                                                                   alt="mitmdump + 电脑版微信爬取微信公众号文章"/></a>
                </div>
                <span class="note"> 本篇文章使用到的技术: mitmdump + 电脑版微信
    需求
    首先来说下需求，需求很简单(-_-!!), 就是爬指定微信公众号的所有文章并保存为pdf。
    看到这个需求的时候正好我用电脑登陆着微信，就想着先用电脑抓一下包看可不可行(能少用工具就少用，减少运行依赖)，后来发现果然有...</span>
                <p class="auth-span">
                    <span class="muted"><i class="fa fa-user"></i> <a href="https://cuiqingcai.com/author/crazy__hope">Crazy__Hope</a></span>
                    <span class="muted"><i class="fa fa-clock-o"></i> 1个月前 (01-10)</span> <span class="muted"><i
                        class="fa fa-eye"></i> 5807浏览</span> <span class="muted"><i class="fa fa-comments-o"></i> <a
                        target="_blank" href="https://cuiqingcai.com/6404.html#comments">503评论</a></span><span
                        class="muted">
    <a href="javascript:;" data-action="ding" data-id="6404" id="Addlike" class="action"><i
            class="fa fa-heart-o"></i><span
            class="count">11</span>喜欢</a></span></p>
            </article>
            <article class="excerpt">
                <header><a class="label label-important" href="https://cuiqingcai.com/category/life/daily">个人日记<i
                        class="label-arrow"></i></a>
                    <h2><a target="_blank" href="https://cuiqingcai.com/6401.html" title="2018 年终总结：成就不算少，进步不算多">2018
                        年终总结：成就不算少，进步不算多 </a></h2>
                </header>
                <div class="focus"><a target="_blank" href="https://cuiqingcai.com/6401.html"><img class="thumb"
                                                                                                   src="../../static/images/timthumb.php"
                                                                                                   alt="2018 年终总结：成就不算少，进步不算多"/></a>
                </div>
                <span class="note"> 最近一段时间没有更新原创文章了，主要是因为最近整个在忙硕士毕业的各种事情，毕业答辩完了以后休假了一小段时间，整个十二月就这么过去了。
    转眼已经 2019 年了，其实去年我并没有写年终总结，现在到头来还是蛮后悔的，说实话总结其实还是蛮有必要的，现在就趁着这个时间来对自己的 2018...</span>
                <p class="auth-span">
                    <span class="muted"><i class="fa fa-user"></i> <a
                            href="https://cuiqingcai.com/author/cqcre">崔庆才</a></span>
                    <span class="muted"><i class="fa fa-clock-o"></i> 1个月前 (01-05)</span> <span class="muted"><i
                        class="fa fa-eye"></i> 4394浏览</span> <span class="muted"><i class="fa fa-comments-o"></i> <a
                        target="_blank" href="https://cuiqingcai.com/6401.html#comments">55评论</a></span><span
                        class="muted">
    <a href="javascript:;" data-action="ding" data-id="6401" id="Addlike" class="action"><i
            class="fa fa-heart-o"></i><span
            class="count">91</span>喜欢</a></span></p>
            </article>
            <article class="excerpt">
                <header><a class="label label-important" href="https://cuiqingcai.com/category/technique/linux">Linux<i
                        class="label-arrow"></i></a>
                    <h2><a target="_blank" href="https://cuiqingcai.com/6378.html"
                           title="小白学爬虫之代理(公有云)">小白学爬虫之代理(公有云) </a></h2>
                </header>
                <div class="focus"><a target="_blank" href="https://cuiqingcai.com/6378.html"><img class="thumb"
                                                                                                   src="../../static/images/timthumb.php"
                                                                                                   alt="小白学爬虫之代理(公有云)"/></a>
                </div>
                <span class="note">
    &nbsp;
    Hello 各位小伙伴 雷门吼！
    在教程之前首先申明！此教程适合土豪不缺钱的玩家
    潜水了许久了，今天来更新点东西~
    今天说点啥呢？ 那就是代理！！
    代理在爬虫界的重要作用相信各位应该清楚吧！毕竟绝大部分反爬可以靠代理解决；不能被代理解决的也得要代理配合解决。

    市...</span>
                <p class="auth-span">
                    <span class="muted"><i class="fa fa-user"></i> <a
                            href="https://cuiqingcai.com/author/aiyo">哎哟卧槽</a></span>
                    <span class="muted"><i class="fa fa-clock-o"></i> 2个月前 (12-26)</span> <span class="muted"><i
                        class="fa fa-eye"></i> 2191浏览</span> <span class="muted"><i class="fa fa-comments-o"></i> <a
                        target="_blank" href="https://cuiqingcai.com/6378.html#comments">24评论</a></span><span
                        class="muted">
    <a href="javascript:;" data-action="ding" data-id="6378" id="Addlike" class="action"><i
            class="fa fa-heart-o"></i><span
            class="count">5</span>喜欢</a></span></p>
            </article>
            <article class="excerpt">
                <header><a class="label label-important"
                           href="https://cuiqingcai.com/category/technique/python">Python<i class="label-arrow"></i></a>
                    <h2><a target="_blank" href="https://cuiqingcai.com/5094.html" title="爬虫代理哪家强？十大付费代理详细对比评测出炉！">爬虫代理哪家强？十大付费代理详细对比评测出炉！ </a>
                    </h2>
                </header>
                <div class="focus"><a target="_blank" href="https://cuiqingcai.com/5094.html"><img class="thumb"
                                                                                                   src="../../static/images/timthumb.php"
                                                                                                   alt="爬虫代理哪家强？十大付费代理详细对比评测出炉！"/></a>
                </div>
                <span class="note"> 前言
    随着大数据时代的到来，爬虫已经成了获取数据的必不可少的方式，做过爬虫的想必都深有体会，爬取的时候莫名其妙 IP 就被网站封掉了，毕竟各大网站也不想自己的数据被轻易地爬走。
    对于爬虫来说，为了解决封禁 IP 的问题，一个有效的方式就是使用代理，使用代理之后可以让爬虫伪装自己的...</span>
                <p class="auth-span">
                    <span class="muted"><i class="fa fa-user"></i> <a
                            href="https://cuiqingcai.com/author/cqcre">崔庆才</a></span>
                    <span class="muted"><i class="fa fa-clock-o"></i> 5个月前 (10-03)</span> <span class="muted"><i
                        class="fa fa-eye"></i> 41677浏览</span> <span class="muted"><i class="fa fa-comments-o"></i> <a
                        target="_blank" href="https://cuiqingcai.com/5094.html#comments">74评论</a></span><span
                        class="muted">
    <a href="javascript:;" data-action="ding" data-id="5094" id="Addlike" class="action"><i
            class="fa fa-heart-o"></i><span
            class="count">261</span>喜欢</a></span></p>
            </article>
            <article class="excerpt">
                <header><a class="label label-important"
                           href="https://cuiqingcai.com/category/technique/python">Python<i class="label-arrow"></i></a>
                    <h2><a target="_blank" href="https://cuiqingcai.com/6289.html" title="破解网站登录加密&#8211;RSA">破解网站登录加密&#8211;RSA </a>
                    </h2>
                </header>
                <div class="focus"><a target="_blank" href="https://cuiqingcai.com/6289.html"><img class="thumb"
                                                                                                   src="../../static/images/timthumb.php"
                                                                                                   alt="破解网站登录加密&#8211;RSA"/></a>
                </div>
                <span class="note"> 大家好，我是四毛，下面的是我的公众号，欢迎关注。

    &nbsp;
    今天的内容主要讲的是破解一个网站的rsa加密，当然肯定不是破解这个算法，而是找到加密的参数，正确模拟这个算法即可。

    1. 什么是rsa算法
    下面的资料摘抄自阮一峰老师的文章，?点这里了解更多
    1976年，两位美国...</span>
                <p class="auth-span">
                    <span class="muted"><i class="fa fa-user"></i> <a
                            href="https://cuiqingcai.com/author/simon">四毛</a></span>
                    <span class="muted"><i class="fa fa-clock-o"></i> 5个月前 (09-14)</span> <span class="muted"><i
                        class="fa fa-eye"></i> 31129浏览</span> <span class="muted"><i class="fa fa-comments-o"></i> <a
                        target="_blank" href="https://cuiqingcai.com/6289.html#comments">570评论</a></span><span
                        class="muted">
    <a href="javascript:;" data-action="ding" data-id="6289" id="Addlike" class="action"><i
            class="fa fa-heart-o"></i><span
            class="count">49</span>喜欢</a></span></p>
            </article>
            <article class="excerpt">
                <header><a class="label label-important" href="https://cuiqingcai.com/category/technique/linux">Linux<i
                        class="label-arrow"></i></a>
                    <h2><a target="_blank" href="https://cuiqingcai.com/6284.html" title="详解 Linux 下的用户管理、用户组管理和权限管理">详解
                        Linux 下的用户管理、用户组管理和权限管理 </a></h2>
                </header>
                <div class="focus"><a target="_blank" href="https://cuiqingcai.com/6284.html"><img class="thumb"
                                                                                                   src="../../static/images/timthumb.php"
                                                                                                   alt="详解 Linux 下的用户管理、用户组管理和权限管理"/></a>
                </div>
                <span class="note"> 最近和几个朋友开发项目，期间使用了一台服务器跑模型，这台服务器是多人公用的，很多人都在上面有自己的账号，互不干涉内政，一切看起来十分井然有序。近期，这个服务器上刚挂载了一块新硬盘，是一位朋友使用 root 账号挂载的，然后将磁盘映射到某个文件夹下。然而挂载好了之后发现使用普通账号...</span>
                <p class="auth-span">
                    <span class="muted"><i class="fa fa-user"></i> <a
                            href="https://cuiqingcai.com/author/cqcre">崔庆才</a></span>
                    <span class="muted"><i class="fa fa-clock-o"></i> 6个月前 (09-04)</span> <span class="muted"><i
                        class="fa fa-eye"></i> 6231浏览</span> <span class="muted"><i class="fa fa-comments-o"></i> <a
                        target="_blank" href="https://cuiqingcai.com/6284.html#comments">341评论</a></span><span
                        class="muted">
    <a href="javascript:;" data-action="ding" data-id="6284" id="Addlike" class="action"><i
            class="fa fa-heart-o"></i><span
            class="count">26</span>喜欢</a></span></p>
            </article>
            <article class="excerpt">
                <header><a class="label label-important" href="https://cuiqingcai.com/category/technique/linux">Linux<i
                        class="label-arrow"></i></a>
                    <h2><a target="_blank" href="https://cuiqingcai.com/6281.html" title="如何给Azure云服务器扩展云磁盘">如何给Azure云服务器扩展云磁盘 </a>
                    </h2>
                </header>
                <div class="focus"><a target="_blank" href="https://cuiqingcai.com/6281.html"><img class="thumb"
                                                                                                   src="../../static/images/timthumb.php"
                                                                                                   alt="如何给Azure云服务器扩展云磁盘"/></a>
                </div>
                <span class="note"> 本文介绍一下如何给 Azure 的云服务器增加一块磁盘。
    页面操作
    首先切换到磁盘页面，然后点击添加数据磁盘按钮：

    然后选定存储容器，这里使用的是存储账户 Blob，然后点击确定按钮：

    主机缓存切换为“读/写”，然后点击保存：

    这样就添加好了。
    挂载磁盘
    接下来回到 Lin...</span>
                <p class="auth-span">
                    <span class="muted"><i class="fa fa-user"></i> <a
                            href="https://cuiqingcai.com/author/cqcre">崔庆才</a></span>
                    <span class="muted"><i class="fa fa-clock-o"></i> 6个月前 (09-04)</span> <span class="muted"><i
                        class="fa fa-eye"></i> 1092浏览</span> <span class="muted"><i class="fa fa-comments-o"></i> <a
                        target="_blank" href="https://cuiqingcai.com/6281.html#comments">8评论</a></span><span
                        class="muted">
    <a href="javascript:;" data-action="ding" data-id="6281" id="Addlike" class="action"><i
            class="fa fa-heart-o"></i><span
            class="count">8</span>喜欢</a></span></p>
            </article>
            <article class="excerpt">
                <header><a class="label label-important" href="https://cuiqingcai.com/category/technique/other">Other<i
                        class="label-arrow"></i></a>
                    <h2><a target="_blank" href="https://cuiqingcai.com/6255.html"
                           title="Ubuntu 搭建 Elasticsearch 6 集群流程">Ubuntu 搭建 Elasticsearch 6 集群流程 </a></h2>
                </header>
                <div class="focus"><a target="_blank" href="https://cuiqingcai.com/6255.html"><img class="thumb"
                                                                                                   src="../../static/images/timthumb.php"
                                                                                                   alt="Ubuntu 搭建 Elasticsearch 6 集群流程"/></a>
                </div>
                <span class="note">
    为何要搭建 Elasticsearch 集群
    凡事都要讲究个为什么。在搭建集群之前，我们首先先问一句，为什么我们需要搭建集群？它有什么优势呢？
    高可用性
    Elasticsearch 作为一个搜索引擎，我们对它的基本要求就是存储海量数据并且可以在非常短的时间内查询到我们想要的信息...</span>
                <p class="auth-span">
                    <span class="muted"><i class="fa fa-user"></i> <a
                            href="https://cuiqingcai.com/author/cqcre">崔庆才</a></span>
                    <span class="muted"><i class="fa fa-clock-o"></i> 7个月前 (08-04)</span> <span class="muted"><i
                        class="fa fa-eye"></i> 11408浏览</span> <span class="muted"><i class="fa fa-comments-o"></i> <a
                        target="_blank" href="https://cuiqingcai.com/6255.html#comments">306评论</a></span><span
                        class="muted">
    <a href="javascript:;" data-action="ding" data-id="6255" id="Addlike" class="action"><i
            class="fa fa-heart-o"></i><span
            class="count">21</span>喜欢</a></span></p>
            </article>
            <div class="pagination">
                <ul>
                    <li class="prev-page"></li>
                    <li class="active"><span>1</span></li>
                    <li><a href='https://cuiqingcai.com/page/2'>2</a></li>
                    <li><a href='https://cuiqingcai.com/page/3'>3</a></li>
                    <li><a href='https://cuiqingcai.com/page/4'>4</a></li>
                    <li><a href='https://cuiqingcai.com/page/5'>5</a></li>
                    <li><span> ... </span></li>
                    <li class="next-page"><a href="https://cuiqingcai.com/page/2">下一页</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}